table,
td,
th {
    border: 1px solid rgb(221, 221, 221);
    border-collapse: collapse;
    
}
table{
    width: 100%;
}
td{
    padding: 5px;
    
}
thead{
    background-color:rgb(38, 90, 136) ;
    color: white;
}
tfoot{
    background-color:rgb(221, 221, 221) ;
}
main{
    margin-left: auto;
    width: 960px;
    margin-right: auto;
    padding: 10px;
    border: 1px solid rgb(221, 221, 221);
    }
hr{
    color: rgb(221, 221, 221);
}
.container > div{
    width: 60%;
}